<footer id="footer">
    <div class="content flexBetween">
        <div class="flexBetween">
            <a href="/">
                <img src="../../assets/images/logo.png" alt="logo" class="logo"/>
            </a>
            <div class="logoTxt">
                <div class="margin-b6">商报海南竞技娱乐有限公司</div>
                <div>对接欧洲著名体育数据公司</div>
            </div>
        </div>
        <div class="flexBetween">
            <div class="ulFlex ulLi">
                <div class="lie">
                    <div class="lieTh">首页</div>
                    <ul class="lieLi">
                        <li>
                            <a href="/">公司介绍</a>
                        </li>
                        <li>
                            <a href="/">合作伙伴</a>
                        </li>
                    </ul>
                </div>
                <div class="lie">
                    <div class="lieTh">产品介绍</div>
                    <ul class="lieLi">
                        <li>
                            <a href="/">体育</a>
                        </li>
                        <li>
                            <a href="/">电竞</a>
                        </li>
                    </ul>
                </div>
                <div class="lie">
                    <div class="lieTh">技术亮点</div>
                    <ul class="lieLi">
                        <li>
                            <a href="/">风控团队</a>
                        </li>
                        <li>
                            <a href="/">数据来源</a>
                        </li>
                    </ul>
                </div>
                <div class="lie">
                    <div class="code" id="codeDown"></div>
                    <div class="">APP下载</div>
                </div>
            </div>
        </div>
    </div>
</footer>