<header id="header" class="flexBetween">
    <div class="content flexBetween headerBox">
        <div class="flexBetween">
            <a href="/">
                <img src="../../assets/images/logo.png" alt="logo" class="logo"/>
            </a>
            <div class="logoTxt">
                <div class="margin-b6">商报海南竞技娱乐有限公司</div>
                <div>对接欧洲著名体育数据公司</div>
            </div>
        </div>
        <div>
            <ul class="flexBetween">
                <li class="headLi">
                    <img src="../../assets/images/icon_phone_no.png" alt="icon"/>
                </li>
                <li class="headLi">
                    <img src="../../assets/images/icon_weixin _no.png" alt="icon"/>
                </li>
                <li class="headLi">
                    <img src="../../assets/images/icon_music_no.png" alt="icon"/>
                </li>
                <li class="headLi BoxPop">
                    <img src="../../assets/images/icon_chaidan_no.png" alt="icon"/>
                </li>
            </ul>
        </div>
    </div>
</header>