<div class="pop">
    <div class="menu_circle">
    </div>
    <div class="menumask">
        <div class="menu_bg">
            <div class="img" ></div>
            <div class="img" ></div>
            <div class="img" ></div>
            <div class="img" ></div>
        </div>
        <a class="menuli" href="/">
            <div class="inbox">
                <div class="cn">GC首页</div>
                <div class="en">HOME PAGE</div>
            </div>
        </a>
        <a class="menuli scoll3" href="javascript:;" >
            <div class="inbox">
                <div class="cn lange">产品介绍</div>
                <div class="en">PRODUCT INTRODUCTION</div>
            </div>
        </a>
        <a class="menuli scoll4" href="javascript:;">
            <div class="inbox">
                <div class="cn">技术亮点</div>
                <div class="en">TECHNOLOGY</div>
            </div>
        </a>
        <a class="menuli" href="./downApp.html">
            <div class="inbox">
                <div class="cn lange"  data-lang="4">APP下载</div>
                <div class="en">APP DOWNLOSDAD</div>
            </div>
        </a>
    </div>
    <img src="../../assets/images/common/close.png" alt="" class="closeCommon"/>
</div>