@import '../../style/common.scss';
.box1{
    width: 100%;
    background:url(../../assets/images/bg_shouye-01.png) no-repeat;
    background-size: cover;
    height: 1080px;
    .content{
        text-align: left;
    }
    .box1Logo{
        padding-top:350px;
        margin-bottom: 30px;
    }
    .title1{
        font-size: 60px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 79px;
        letter-spacing: 20px;
        margin-bottom: 30px;
    }
    .enTitle1{
        @include fs(40px,#FFFFFF);
        line-height: 60px;
    }
    .oran{
        color:#DBAF6D;
    }
}
.box2{
    width: 100%;
    background:url(../../assets/images/bg_shouye-02.png) no-repeat;
    background-size: cover;
    height: 1080px;
    .content{
        padding:148px 0;
        box-sizing: border-box;
    }
    .biaoTi{
        position: absolute;
        top:307px;
        left:50%;
        transform: translate(-50%,0);
        z-index: 2;
        .box2PosTit{
            font-size: 30px;
            color: #DBAF6D;
            line-height: 40px;
            letter-spacing: 6px;
            margin-bottom: 25px;
        }
        .box2EnTit{
            font-size: 30px;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 40px;
        }
    }
    .box2Content{
        text-align: left;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: #FFFFFF;
        line-height: 19px;
        padding-top:150px
    }
}
.box3{
    width: 100%;
    background:url(../../assets/images/bg_shouye-03.png) no-repeat;
    background-size: cover;
    height: 1080px;
    .content{
        padding:171px 0 40px;
    }
    .box3Content{
        text-align: left;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: #FFFFFF;
        line-height: 19px;
        position: relative;
    }
    .box3Tit{
        padding-top:32px;
        font-size: 30px;
        color: #FFFFFF;
        line-height: 40px;
        letter-spacing: 20px;
        margin-bottom: 260px;
        box-sizing: border-box;
    }
    .boxJsTit{
        font-size: 30px;
        color: #DBAF6D;
        line-height: 40px;
        letter-spacing: 10px;
        margin-bottom: 16px;
    }
    .box3TitEn{
        position: absolute;
        font-size: 200px;
        color: rgba(219, 175, 109, 0.4);
        line-height: 230px;
        top:64px;
    }
    .margin-b70{
        margin-bottom: 70px;
    }
}
.btnNext{
    padding:36px 38px;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 40px;
    letter-spacing: 20px;
    background: #4D4D4D;
    display: inline-block;
    cursor: pointer;
}
.box4{
    width: 100%;
    background:url(../../assets/images/bg_shouye-04.png) no-repeat;
    background-size: cover;
    height: 1080px;
    .content{
        padding:76px 0 40px;
        box-sizing: border-box;
        text-align: left;
        .box4Entit{
            font-size: 40px;
            font-weight: normal;
            color: #DBAF6D;
            line-height: 45px;
            letter-spacing: 10px;
            margin-bottom: 25px;
        }
        .btnNext{
            position: absolute;
            bottom:0;
            right: 0;
            transform: translate(0,56px);
        }
        .box4Tit{
            font-size: 30px;
            color: #FFFFFF;
            line-height: 40px;
            letter-spacing: 20px;
            margin-bottom: 150px;
        }
        .wenan{
            flex:1;
            text-align: center;
            .hannanLogo{
                margin-bottom: 38px;
            }
            .box4BannTit{
                text-align: left;
                font-size: 30px;
                color: #FFFFFF;
                line-height: 40px;
                letter-spacing: 5px;
                margin-bottom: 15px;
            }
            .box4BannTxt{
                text-align: left;
                font-size: 14px;
                color: #FFFFFF;
                line-height: 19px;
                letter-spacing: 2px;
            }
            
        }
        .hzNext{
            display: none;
        }
    }
}
.box3Block{
    display:block !important;
}
.box3None{
    display: none;
}