<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>
<body>
    <div class="main">
        #include("../common/header.html")
        #include("../common/pop.html")
        <div class="appBox">
            <div class="content" style="padding-top:160px;">
                <img src="../../assets/images/appdown/logo2.png" alt="logo" class="appDownLogo"/>
                <div class="flexBetween">
                    <div style="text-align: left;margin-right: 100px;">
                        <div class="enTit">
                            <span class="oran">APP</span>
                            <span>DOWNLOAD</span>
                        </div>
                        <div class="downTxt">APP下载</div>
                        <div class="downTxtCont">介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明介绍说明。</div>
                        <div class="downCode">
                            <div style="margin-right: 45px; text-align: center;">
                                <div class="codeEq margin-b20">
                                    <div id="code1"></div>
                                </div>
                                <div class="codeName1 oran">扫码下载</div>
                                <div class="codeName2">支持iOS/Android</div>
                            </div>
                            <div style="text-align: center;">
                                <img src="../../assets/images/appdown/conImg.png" alt="" class="imgBox1 margin-b20"/>
                                <div class="codeName1">www.gcjingji.com</div>
                                <div class="codeName2">无需下载，直接登录</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="../../assets/images/appdown/tu_app Download.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        #include("../common/footer.html")
    </div>
</body>
</html>
